doctype html
html(lang="en")
    head
        meta(charset="utf-8", name="viewport", content="width=device-width, initial-scale=1")
        title=pageTitle
        link(rel="stylesheet", href="styles/bootstrap.min.css")
    body
        #app
        script(type='text/javascript')
            | window.config =!{JSON.stringify(config)};
        script(type='text/javascript', src=entryUrl)